// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #CCC;
}

.table-hover>tbody>tr:hover {
    background-color: #BBB;
    cursor: pointer;
}

.modal-content{
	color:white;
}