<div class="bs-component">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <h3>
          <%= link_to image_tag("logo", style: "width:100px;"), root_path %>What Should I Wear?</h3>
      </div>
    </div>
  </nav>
  <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
</div>